<%- layout('layouts/main.ejs') %>
<br>
<br>
<div class="jumbotron mt-4">
    <h1>¡YA ESTAS REGISTRADO EN MI TRIVIA!</h1>

<hr class="my-4">
    <h2>Espero que te diviertas!</h2>
    
    <hr class="my-4">
    <h5>Ya puedes empezar a crear y ver tus propias preguntas</h5>
    <img src="/img/trivia.png" alt="Foto"  />
  </div>
  