body{
    background: #009FFF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ec2F4B, #009FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    
}
h1{
    text-align: center;
    font-size: 45px;
}
h2{
    text-align: center;
}
h3{
    font-size: 15px;
}
h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}
h5{
    text-shadow: 2px 2px 1px #bdc3c7;
    text-align: center;
}
img{
    width: 400px;
    height: auto;
    margin: auto;
    display: block;
}
p{
    font-family: Georgia;
    color: gray;
    font-size: 20px;
}